@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  *height: 100%;
  width: 100%;
  *font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  background-color: #0B0B0B;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.header__inner {
  padding: 25px 0px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 70px 0px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header .header__menu.active {
  right: 0;
}

.header__item {
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 48px;
  line-height: 56px;
  padding: 0px 0px 14px 0px;
  border-bottom: 3px solid #B70021;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.header__item:hover {
  border-bottom: 3px solid #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__title {
  color: #fff;
  font-size: 96px;
  line-height: 1.1;
  margin: 0px 0px 30px 0px;
}

.header__text {
  max-width: 284px;
  margin: 0px 0px 100px 0px;
}

.header__btn {
  display: inline-block;
  font-family: "RobotoCondensed-Bold", sans-serif;
  padding: 30px 60px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__btn:hover {
  background-color: #770302;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: auto;
}

.burger {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  z-index: 11;
}

.burger.active {
  background-color: transparent;
  border: none;
}

.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger span,
.burger span::before,
.burger span::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.burger span::before {
  top: 13px;
  -webkit-transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, transform .2s;
  transition: top .2s .2s, transform .2s, -webkit-transform .2s;
}

.burger span::after {
  top: -13px;
  -webkit-transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, transform .2s;
  transition: top .2s .2s, transform .2s, -webkit-transform .2s;
}

.burger span.active:before {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, transform .2s .2s;
  transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
}

.burger span.active:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, transform .2s .2s;
  transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
}

.burger span.active {
  background-color: transparent;
}

.burger__overlay {
  display: none;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
}

.slider__item {
  height: 100vh;
}

.slider__item img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 6;
  margin: -60px auto 0;
  max-width: 1200px;
}

.slider .slick-dots li {
  list-style: none;
  margin-right: 20px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.slider .slick-dots li button {
  font-size: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  background-color: #0B0B0B;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: #fff;
}
