@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  *height: 100%;
  width: 100%;
  *font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  background-color: #0B0B0B;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
  height: 100%;
}

.page-section {
  margin: 100px 0;
}

.btn {
  display: inline-block;
  font-family: "RobotoCondensed-Bold", sans-serif;
  padding: 30px 60px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn:hover {
  background-color: #690102;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header {
  height: 100vh;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.header__inner {
  padding: 25px 0px;
  height: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 70px 0px;
}

.header__logo img {
  max-width: 100%;
  padding-right: 50px;
}

.header__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header .header__menu.active {
  right: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.header__list a {
  display: inline-block;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 48px;
  line-height: 56px;
  padding: 30px 0 14px;
  border-bottom: 3px solid #B70021;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 368px;
  width: 100%;
}

.header__item a:hover {
  border-bottom: 3px solid #fff;
  color: #B70021;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__title {
  color: #fff;
  font-size: 96px;
  line-height: 1.1;
  margin: 0px 0px 30px 0px;
}

.header__text {
  max-width: 284px;
  margin: 0px 0px 100px 0px;
}

.burger {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  z-index: 11;
}

.burger.active {
  background-color: transparent;
  border: none;
}

.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger span,
.burger span::before,
.burger span::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.burger span::before {
  top: 13px;
  -webkit-transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, transform .2s;
  transition: top .2s .2s, transform .2s, -webkit-transform .2s;
}

.burger span::after {
  top: -13px;
  -webkit-transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, transform .2s;
  transition: top .2s .2s, transform .2s, -webkit-transform .2s;
}

.burger span.active:before {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, transform .2s .2s;
  transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
}

.burger span.active:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, transform .2s .2s;
  transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
}

.burger span.active {
  background-color: transparent;
}

.burger__overlay {
  display: none;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
}

.slider__item {
  height: 100vh;
}

.slider__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 6;
  margin: -60px auto 0;
  max-width: 1230px;
  padding: 0px 15px;
}

.slider .slick-dots li {
  list-style: none;
  margin-right: 20px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.slider .slick-dots li button {
  font-size: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  background-color: #0B0B0B;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: #fff;
}

.indicators__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding-top: 40px;
}

.indicators__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row {
  margin: 0px 20px 100px;
}

.row__name {
  font-family: "RobotoCondensed-Regular", sans-serif;
}

.row__value {
  position: relative;
  font-size: 96px;
  line-height: 112px;
  padding: 20px 0px 7px 0px;
}

.row__value--plus::after {
  content: "+";
  position: absolute;
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-size: 24px;
  line-height: 28px;
}

.row__value span {
  position: absolute;
  bottom: 25px;
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-size: 24px;
  line-height: 28px;
  white-space: nowrap;
}

.row__power {
  font-family: "RobotoCondensed-Regular", sans-serif;
  color: #B70021;
}

.speed__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.speed__info h3 {
  font-size: 36px;
  line-height: 42px;
  font-family: "RobotoCondensed-Regular", sans-serif;
  color: #B70021;
  margin: 0px 0px 100px 0px;
}

.speed__info p {
  font-family: "RobotoCondensed-Regular", sans-serif;
  max-width: 300px;
  margin-right: 30px;
}

.speed__img img {
  max-width: 100%;
}

.advantage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 50%;
}

.advantage__info h3 {
  font-size: 36px;
  line-height: 42px;
  font-family: "RobotoCondensed-Regular", sans-serif;
  color: #B70021;
  margin: auto 0px 0px;
}

.advantage__item {
  font-family: "RobotoCondensed-Regular", sans-serif;
  margin: auto 0 auto 30px;
}

.advantage__img {
  min-width: 50%;
}

.advantage__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.specific__img {
  margin: 0px 0px 100px 0px;
}

.specific__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.specific__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "RobotoCondensed-Regular", sans-serif;
}

.specific__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specific__block span {
  color: #B70021;
}

.specific__text {
  padding: 30px 75px 0px 60px;
}

.footer {
  background-color: #690102;
  text-align: center;
  height: 300px;
}

.footer__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 0px 20px 0px;
}

.footer__btn {
  margin: auto;
}

.footer__items {
  display: inline-block;
  font-family: "RobotoCondensed-Bold", sans-serif;
  padding: 0px 15px 0px 10px;
  border-right: 2px solid #fff;
  line-height: 23px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.footer__items:hover {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color .3s;
  transition: color .3s;
}

.footer__items:last-child {
  padding-right: 0;
  border-right: none;
}

@media (max-width: 991px) {
  .advantage__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }
  .advantage__info h3 {
    margin-left: 30px;
  }
  .advantage__item {
    margin: 0 0 auto 30px;
  }
}

@media (max-width: 767px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header__list {
    text-align: center;
  }
  .slider .slick-dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .indicators__body {
    display: block;
    padding-top: 0px;
  }
  .speed__body {
    display: block;
    text-align: center;
  }
  .speed__info h3 {
    font-size: 50px;
    margin: 0px 0px 20px 0px;
  }
  .speed__info p {
    max-width: 100%;
    margin: 0px 0px 50px 0px;
  }
  .advantage__body {
    display: block;
    text-align: center;
  }
  .advantage__info h3 {
    font-size: 50px;
    margin-left: 0px;
  }
  .advantage__item {
    margin: 50px 0 20px 0px;
  }
  .specific__img {
    margin: 0px 0px 70px 0px;
  }
  .specific__body {
    display: block;
  }
  .specific__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .specific__text {
    padding: 30px 0px 0px 60px;
  }
}

@media (max-width: 479px) {
  .page-section {
    margin: 70px 0;
  }
  .header__body {
    height: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__top {
    margin: 0;
  }
  .header__list a {
    font-size: 40px;
    line-height: 50px;
    max-width: 300px;
  }
  .header__title {
    font-size: 70px;
    line-height: 1.1;
    margin: 0px 0px 30px 0px;
  }
  .header__text {
    margin: 0px 0px 70px 0px;
  }
  .row {
    margin-bottom: 70px;
  }
  .row__value {
    font-size: 70px;
    line-height: 90px;
    padding: 10px 0px 0px 0px;
  }
  .row__value span {
    bottom: 15px;
  }
  .speed__info h3 {
    font-size: 36px;
  }
  .advantage__info h3 {
    font-size: 36px;
  }
  .specific__img {
    margin: 0px 0px 50px 0px;
  }
  .specific__text {
    padding: 30px 0px 0px 30px;
  }
}

@media (max-height: 730px) {
  .header__top {
    margin: 0px 0px 50px 0px;
  }
  .header__text {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-height: 630px) {
  .header__top {
    margin: 0px 0px 30px 0px;
  }
  .header__title {
    margin: 0;
  }
  .header__text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-height: 520px) {
  .header__top {
    margin: 0;
  }
  .header__logo {
    width: 200px;
  }
  .header__title {
    font-size: 50px;
    margin: 0px 0px 30px 0px;
  }
  .header__text {
    font-size: 20px;
    line-height: 24px;
    margin: 0px 0px 30px 0px;
  }
  .header__btn {
    padding: 15px 40px;
  }
  .slider .slick-dots {
    left: 100%;
  }
  .burger {
    width: 40px;
    height: 40px;
  }
  .burger span,
  .burger span::before,
  .burger span::after {
    content: "";
    width: 30px;
  }
  .burger span::before {
    top: 10px;
  }
  .burger span::after {
    top: -10px;
  }
}
