
// цвета для фона
$black: #0B0B0B;
$red: #690102;

// цвета для текста
$red: #B70021;
$white: #fff;
$black: #0B0B0B;

// шрифты
$regular: 'Roboto-Regular' ,sans-serif;
$medium: 'Roboto-Medium' ,sans-serif;
$rc_regular:'RobotoCondensed-Regular' ,sans-serif;
$bold: 'RobotoCondensed-Bold' ,sans-serif;

