@import "_nullstyle";
@import "_fonts";
@import "_variable";

* {
  transition: all .3s;
}



body {
  width: 100%;
  font-family: $regular;
  background-color: $black;
  color: $white;
  font-size: 24px;
  line-height: 28px;
  // для плавного перехода между секциями
  // scroll-behavior: smooth;
}