@import "_nullstyle";
@import "_fonts";
@import "_variable";

* {
  transition: all .3s;
}



body {
 
  font-family: $regular;
  background-color: $black;
  color: $white;
  font-size: 84px;
  line-height: 1.1;
  // для плавного перехода между секциями
  // scroll-behavior: smooth;
}